h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 32pt;
}

p {
    color: yellow;
    font-size: 14pt;
    margin-top: 20px;
}

button {
    padding: 20px 30px;
    border: 2px solid whitesmoke;
    border-radius: 30px;
    margin-top: 40px;
    font-size: 14pt;
}

button:hover {
    cursor: pointer;
    transition: background .5s ease;
    background-color: rgb(21, 105, 216);
}

button:focus {
    transition: transform .1s;
    transform: translateY(1px);
}