@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  font-family: Helvetica, sans-serif;
  color: #fff;
  background-image: linear-gradient(0deg, #080B28F0 3%, #1D82E2FF 59%);
  text-align: center;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
}